{% extends 'public/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="public/css/public/home.css">
{% endblock %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}
    <div id="home-banner">
        {#<div class="container">#}
            <div class="row center-align">
                <div class="col l8 offset-l2 white-text">
                    <a href="http://www.damienvauchel.com" target="_blank"><h1 class="white-text"><b>DAMIEN VAUCHEL</b></h1></a>
                    <h2>Le développement, j'ai ça dans le sang!</h2>
                    <br>
                    <a href="public/docs/online-2017-CV-Damien-Vauchel.pdf" class="btn white hoverable waves-effect black-text" target="_blank">Télécharger le CV</a>
                </div>
            </div>
        {#</div>#}
    </div>

    <div class="container home-band">
        <div class="row">
            <h4 class="center-align">DERNIERS ARTICLES DU BLOG</h4>
            <br>
            {% for post in posts %}
                <div class="col s3">
                    <div class="moveUp home-post">
                        <a href="http://{{ constant("ROOT") }}/post/{{ post.slug }}">
                            <div class="thumbnail home-post home-post-mobile">
                                {#<div>#}
                                    {#<img class="img-responsive center-block" src="assets/post_photo/<?= $post->getPhoto(); ?>" alt="">#}
                                {#</div>#}
                                {#<br>#}
                                <div>
                                    <h3 class="center-align home-post-title"><b>{{ post.title }}</b></h3>
                                    <div class="center-align">
                                        <small style="text-decoration: underline;">
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>{{ post.chapo }}
                                        </small>
                                    </div>
                                    <small class="text-right">... Lire l'article</small>
                                </div>
                            </div><!-- row -->
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div><!-- row -->
    </div><!-- container -->

    <div class="grey lighten-3 home-band">
        <div class="container">
            <div class="row center-align">
                <br><br>
                <div class="col m3">
                    <i class="fa fa-desktop"></i>
                    <h4>HTML / CSS</h4>
                    <p>Pour structurer et embellir les pages web</p>
                </div>

                <div class="col m3">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                    <h4>BOOTSTRAP</h4>
                    <p>Pour organiser les pages web en fonction de la grille BootStrap et que le site soit facilement responsive</p>
                </div>

                <div class="col m3">
                    <i class="fa fa-laptop"></i>
                    <h4>PHP / SQL</h4>
                    <p>Pour rendre le site dynamique et le faire intéragir avec sa base de données</p>
                </div>

                <div class="col m3">
                    <i class="fa fa-tablet"></i>
                    <h4>WORDPRESS</h4>
                    <p>Pour que vous puissiez aisément vous occuper vous-même de votre site responsive</p>
                </div>
            </div><!-- row -->
        </div>
    </div>

    <div class="container home-band">
        <div class="row center-align">
            <h4>DERNIERES REALISATIONS</h4>
            <br>
            <div class="col m4">
                <div class="moveLeft">
                    <a href="https://damienvauchel.com/" target="_blank"><img src="public/img/real01.png" height="200"></a>
                </div>
            </div>

            <div class="col m4">
                <div class="moveRight">
                    <a href="http://www.snow-tricks.damienvauchel.com/" target="_blank"><img src="public/img/real02.png" height="200"></a>
                </div>
            </div>

            <div class="col m4">
                <div class="moveLeft">
                    <a href="http://www.blog.damienvauchel.com/" target="_blank"><img src="public/img/real03.png" height="200"></a>
                </div>
            </div>
        </div><!-- row -->
    </div><!-- container -->

    <div class="grey lighten-3 home-band">
        <div class="container">
            <div class="form-container">
                <form class="col s12" method="post" action="http://{{ constant("ROOT") }}/">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="lastname" name="lastname" type="text" class="validate" required>
                            <label for="lastname">Nom</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="firstname" name="firstname" type="text" class="validate" required>
                            <label for="firstname">Prénom</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" name="email" type="email" class="validate" required>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="subject" name="subject" type="text" class="validate" required>
                            <label for="subject">Sujet</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="message" name="message" class="materialize-textarea"></textarea>
                            <label for="message">Message</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field inline">
                                <input type="submit" class="btn indigo darken-4 hoverable" value="Envoyer le message">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}