{% extends 'public/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="../public/css/public/post.css">
{% endblock %}

{% block title %}
    {{ post.title }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="indigo darken-4 post-header">
        <div class="container">
                <a href="http://{{ constant("ROOT") }}/posts" class="btn right grey darken-3 hoverable">Retourner à la liste des articles</a>
                <h1 class="center-align white-text"><b>{{ post.title }}</b></h1>
                <div class="white-text">
                    <b>
                        Ecrit par: {{ post.author }}
                    </b>
                    <br>
                    <small>
                        <i class="material-icons" style="font-size: 1em">access_time</i> le {{ post.creation_date|date("d/m/Y à H\\hi\\m\\i\\n") }}
                    </small>
                </div>
        </div><!-- container -->
    </div><!--  bluewrap -->

    <div class="container">
        <div class="row">
            <div class="col s12">
                <p class="post-content">{{ post.content }}</p>
            </div>
        </div><!-- row -->
    </div>
{% endblock %}